  <tr><td style="background:#F7F7F8;padding:0;">
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr><td class="pad-x" style="padding:28px 40px 12px 40px;">
        <span class="wm-v" style="font-size:16px;">Valora</span>&nbsp;<span class="wm-c" style="font-size:9px;">CLOUD</span>
      </td></tr>
      <tr><td class="pad-x" style="padding:0 40px 24px 40px;">
        <div class="footer-text">
          Valora&nbsp;Cloud&nbsp;LLC&nbsp;&middot;&nbsp;Saint&nbsp;Petersburg,&nbsp;FL&nbsp;&middot;&nbsp;USA<br/>
          <a href="https://{{brandDomain}}">{{brandDomain}}</a>&nbsp;&middot;&nbsp;<a href="https://status.{{brandDomain}}">status.{{brandDomain}}</a>&nbsp;&middot;&nbsp;<a href="https://docs.{{brandDomain}}">docs.{{brandDomain}}</a>
        </div>
      </td></tr>
      <tr><td class="pad-x" style="padding:0 40px 12px 40px;"><div class="hairline"></div></td></tr>
      <tr><td class="pad-x" style="padding:8px 40px 28px 40px;">
        <div class="footer-text" style="font-size:9px;">
          {{footer_legal}}&nbsp;<a href="mailto:support@{{brandDomain}}">support@{{brandDomain}}</a>
        </div>
      </td></tr>
    </table>
  </td></tr>
</table></td></tr></table>
</body>
</html>
